/**
 * List Styles
 */

/**
 * Outline Lists
 *
 * Outline lists are lists that have a nested structure. They are used to
 * represent a hierarchy of information.
 */
.list--outline ul,
.list--outline ol {
  padding-left: 20px;
}

.list--outline ul {
  list-style-type: disc;
}

.list--outline ul ul {
  list-style-type: circle;
}

.list--outline ul ul ul {
  list-style-type: square;
}

.list--outline ol {
  list-style-type: decimal;
}

.list--outline ol ol {
  list-style-type: lower-alpha;
}

.list--outline ol ol ol {
  list-style-type: lower-roman;
}

/*
 * List Style Types
 *
 * Utilities to change the list style types.
 */
.list--circle {
  list-style-type: circle;
}

.list--square {
  list-style-type: square;
}

.list--disc {
  list-style-type: disc;
}

.list--decimal {
  list-style-type: decimal;
}

.list--lower-alpha {
  list-style-type: lower-alpha;
}

.list--lower-roman {
  list-style-type: lower-roman;
}
