/**
 * Dialog Styles
 */

.dialog_overlay {
  @apply fixed inset-0 z-40 flex items-center justify-center;
  background: rgba(0, 0, 0, 0.5);
  height: var(--visual-viewport-height);

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.dialog {
  @apply max-w-[428px] rounded-lg border border-gray-400 bg-white text-black shadow-lg outline-none canvas type;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.dialog__header {
  @apply flex items-center justify-end p-2;
}

.dialog__content {
  @apply px-6;
}

.dialog__footer {
  @apply flex items-center justify-center gap-4 px-2 py-8;
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
