@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

/* Sidebar */
.sidebar-container {
  background-color: #f8fafc;
}

/* Style the Search Input field in Sidebar */
#storybook-explorer-searchfield {
  border-radius: 0px !important;
  background-color: white;
}

div[data-item-id='denali'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#storybook-explorer-tree a > svg {
  display: none;
}
